.MainCeramicAdvertisingBanner {
  margin-top: 114px;
  margin-bottom: 114px;
  width: 100%;
  height: auto;

  .title {
    display: block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    line-height: 48px;
    word-break: break-all;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 54px;
  }

  .wrapContent {
    width: 1500px;
    height: 516px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .wrapPicture {
      position: relative;
      .mainPicture {
        width: 517px;
        height: 517px;
        margin-left: 220px;
        margin-right: 60px;
        border-radius: 5%;
        cursor: pointer;
      }

      .buttonOnImage {
        height: 14px;
        width: 14px;
        border: 3px solid white;
        border-radius: 50%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        transition: all 0.3s;
        transform: scale(1);
        cursor: pointer;
      }

      .cup {
        top: 51%;
        left: 80%;
      }

      .ChopstickRest {
        top: 30%;
        left: 45%;
      }

      .bowlSet {
        top: 80%;
        left: 84%;
      }

      .tray {
        top: 72%;
        left: 53%;
      }

      .plate {
        top: 55%;
        left: 38%;
      }

      .active {
        background-color: white;
        transform: scale(0.5);
      }

      .wrapPricePannel1 {
        display: block;
        .pricePannelLeft {
          width: 20px;
          height: 20px;
          background-color: white;
          position: absolute;
          border-radius: 50%;
          top: 50%;
          left: 83%;
        }
        .pricePannel {
          width: 50px;
          height: 20px;
          background-color: white;
          position: absolute;
          top: 50%;
          left: 84%;
          z-index: 2;

          span {
            padding-left: 6px;
            font-size: 12px;
          }
        }

        .pricePannelRight {
          width: 20px;
          height: 20px;
          background-color: white;
          position: absolute;
          border-radius: 50%;
          top: 50%;
          left: 89%;
        }
      }

      .wrapPricePannel2 {
        display: none;
        .pricePannelLeft {
          width: 20px;
          height: 20px;
          background-color: white;
          position: absolute;
          border-radius: 50%;
          top: 30%;
          left: 48%;
        }
        .pricePannel {
          width: 50px;
          height: 20px;
          background-color: white;
          position: absolute;
          top: 30%;
          left: 49%;
          z-index: 2;

          span {
            padding-left: 6px;
            font-size: 12px;
          }
        }

        .pricePannelRight {
          width: 20px;
          height: 20px;
          background-color: white;
          position: absolute;
          border-radius: 50%;
          top: 30%;
          left: 54%;
        }
      }

      .wrapPricePannel3 {
        display: none;
        .pricePannelLeft {
          width: 20px;
          height: 20px;
          background-color: white;
          position: absolute;
          border-radius: 50%;
          top: 80%;
          left: 74%;
        }
        .pricePannel {
          width: 50px;
          height: 20px;
          background-color: white;
          position: absolute;
          top: 80%;
          left: 75%;
          z-index: 2;

          span {
            padding-left: 6px;
            font-size: 12px;
          }
        }

        .pricePannelRight {
          width: 20px;
          height: 20px;
          background-color: white;
          position: absolute;
          border-radius: 50%;
          top: 80%;
          left: 80%;
        }
      }

      .wrapPricePannel4 {
        display: none;
        .pricePannelLeft {
          width: 20px;
          height: 20px;
          background-color: white;
          position: absolute;
          border-radius: 50%;
          top: 72%;
          left: 56%;
        }
        .pricePannel {
          width: 50px;
          height: 20px;
          background-color: white;
          position: absolute;
          top: 72%;
          left: 57%;
          z-index: 2;

          span {
            padding-left: 6px;
            font-size: 12px;
          }
        }

        .pricePannelRight {
          width: 20px;
          height: 20px;
          background-color: white;
          position: absolute;
          border-radius: 50%;
          top: 72%;
          left: 62%;
        }
      }

      .wrapPricePannel5 {
        display: none;
        .pricePannelLeft {
          width: 20px;
          height: 20px;
          background-color: white;
          position: absolute;
          border-radius: 50%;
          top: 55%;
          left: 42%;
        }
        .pricePannel {
          width: 50px;
          height: 20px;
          background-color: white;
          position: absolute;
          top: 55%;
          left: 43%;
          z-index: 2;

          span {
            padding-left: 6px;
            font-size: 12px;
          }
        }

        .pricePannelRight {
          width: 20px;
          height: 20px;
          background-color: white;
          position: absolute;
          border-radius: 50%;
          top: 55%;
          left: 48%;
        }
      }
    }

    .wrapContent {
      width: 484.8px;
      height: 516.8px;
      margin-right: 180px;

      .contentTitle {
        width: 484.8px;
        height: 64.4px;
        padding-top: 26px;
        font-size: 28px;
        font-weight: lighter;
      }

      p {
        width: 484.8px;
        height: 24px;
        margin-top: 15px;
        font-size: 13px;
        font-weight: lighter;
        position: relative;
        top: -40px;
      }

      .wrapContentPictures {
        width: 484.8px;
        height: 304px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top: -50px;
        cursor: pointer;

        > div {
          width: 152px;
          height: 152px;
          padding-top: 20px;
          padding-right: 20px;
          .contentPictures {
            width: 132px;
            height: 132px;
            border-radius: 10px;
          }

          .borderColor {
            border: 2px solid #6b90dc;
          }
        }
      }
    }
  }
}
