@import '../../Styles/common.scss';
@import '../../Styles/reset.scss';

.Main {
  font-family: $notoSans;

  img {
    width: 100%;
    height: 744px;
  }

  .slide {
    .slick-prev {
      left: 3%;
      z-index: 1;
    }
    .slick-next {
      right: 3%;
      z-index: 1;
    }
    .slick-dots {
      margin-bottom: 50px;
    }
  }
}
