@import '../../../Styles/common.scss';
.itemListContainer {
  .listBox {
    @include flex(center, null, row);
    flex-wrap: wrap;
    padding: 0 10px 50px;
    list-style: none;
    width: 1380px;

    .noResult {
      align-self: center;
    }
  }
}
