@import '../../../../Styles/common.scss';

.ItemDetail {
  .BestItem {
    margin-top: 40px;
    padding-bottom: 40px;

    > h3 {
      padding-bottom: 20px;
    }

    .productList {
      display: flex;

      li:not(:last-child) {
        margin-right: 20px;
      }

      li {
        flex: 1;
        cursor: pointer;
      }

      .productImage {
        border: $lightGrayBorder;
      }

      .productName {
        display: block;
        padding: 10px 0;
        font-weight: lighter;
        font-size: 13px;
        line-height: 18px;
      }

      .productPrice {
        &::after {
          content: 'Ïõê';
          font-size: 13px;
        }
      }
    }
  }
}
