.MainAdvertisingBanner {
  background-image: url('https://shop-phinf.pstatic.net/20200810_161/15970514975193wnMq_JPEG/Store_Middle_PC.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 170px;
}
