@import '../../Styles/common.scss';

main {
  width: 100%;
  margin: none;
  padding: none;
  height: 100vh;
  background-color: #f5f6f7;
  padding-top: 30px;

  .mainContainer {
    width: 580px;
    margin: auto;
    text-align: center;

    .selectLanguage {
      width: 100px;
      font-size: 12px;
      margin-left: 100%;
      margin-top: 0;
    }

    .Dropdown-control {
      background-color: #f5f6f7;
    }

    .signInLogoBorder {
      text-align: center;
      margin: 100px 0 40px 0;

      .signInLogo {
        width: 250px;
        height: 60px;
        background-image: url('https://static.nid.naver.com/images/ui/login/t_sp_login_190522.png');
        background-position: -150px -90px;
        padding: 30px 0 30px 0px;
      }
    }

    .signInInput {
      display: inline-block;

      .signInIdInput {
        display: flex;
        width: 460px;
        height: 50px;
        margin-left: 25px;
        padding: 7px 35 10px 11px;
        border: 1px solid #dadada;
        background-color: white;
        &:focus {
          border: 1px solid #03c75a;
        }
        &.isActive {
          border: 1px solid #03c75a;
          padding: 0 0 0 15px;
        }
      }

      .signInPwdInput {
        display: flex;
        width: 460px;
        height: 50px;
        margin: 20px 0 0 25px;
        padding: 7px 35 10px 11px;
        border: 1px solid #dadada;
        background-color: white;
        &:focus {
          border: 1px solid #03c75a;
        }
        &.isActive {
          border: 1px solid #03c75a;
          padding: 0 0 0 15px;
        }
      }
    }

    .signInBtn {
      width: 460px;
      height: 50px;
      margin: 20px 0 0 25px;
      background-color: #03c75a;
      color: white;
      font-size: 16px;
    }

    .signInOption {
      display: inline-flex;
      margin: 10px 0 0 40px;
    }

    .signInStayBtn {
      display: flex;
      align-items: middle;
      margin-right: 55px;

      .signInStayCheck {
        width: 20px;
        height: 30px;
        background-image: url('https://static.nid.naver.com/images/ui/login/t_sp_login_190522.png');
        background-position: 0 -110px;
        background-size: 460px;
        padding: 7px 20px 10px 11px;
        margin: 8px 0 0 0px;
        &.isSignIn {
          background-position: 0 -141px;
        }
      }

      .signInStayText {
        align-self: center;
        width: 120px;
      }
    }

    .ipSecurity {
      margin-left: 175px;
      display: flex;

      .ipSecurityText {
        align-self: center;
      }

      .securityOnOff {
        width: 30px;
        height: 10px;
        background-image: url('https://static.nid.naver.com/images/ui/login/t_sp_login_190522.png');
        background-position: 0 -67px;
        background-size: 600px;
        padding: 7px 35px 8px 11px;
        margin: 20px 0 20px 0px;
        &.check {
          background-position: 0 -86px;
        }
      }
    }
  }
}
