@import '../../../Styles/common.scss';
@import '../../../Styles/reset.scss';

.MainLookAround {
  margin-top: 114px;
  margin-bottom: 114px;
  width: 100%;
  height: auto;

  .wrapMainLookAroundTitle {
    display: block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    line-height: 48px;
    word-break: break-all;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 54px;
  }

  .LookAroundItem {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1500px;
    margin: auto;
    padding: 0 90px;
    cursor: pointer;
  }

  .LookAroundItem > div {
    width: 327px;
    height: 514.38px;
    padding: 0px 14px 50px;
    position: relative;
    display: inline-block;
    vertical-align: top;

    img {
      width: 299px;
      height: 364.78px;
      border-radius: 5%;
    }

    .LookAroundItemImageButtonContainer {
      width: 299px;
      height: 50px;
      position: absolute;
      top: 55%;
      display: none;
      justify-content: center;

      &.isActive {
        display: flex;
      }

      .wrapLookAroundItemImageWishButton {
        position: relative;
        width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.95);
        border-radius: 50%;
        vertical-align: top;
        cursor: pointer;
        .LookAroundItemImageWishButton {
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -8px 0 0 -10px;
          width: 21px;
          height: 19px;
          background: url(https://img-shop.pstatic.net/brandstore/p/static/20200917164420/media/icon_heart_15x13_gray.412edbc4.svg)
            no-repeat;
          background-size: 100% auto;
          content: '';
          cursor: pointer;
        }
      }

      .wrapLookAroundItemImageDetailButton {
        position: relative;
        width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.95);
        border-radius: 50%;
        vertical-align: top;
        margin-left: 9px;
        cursor: pointer;
        .LookAroundItemImageDetailButton {
          position: absolute;
          top: 22%;
          left: 25%;
          margin: -8px 0 0 -10px;
          width: 45px;
          height: 45px;
          background: url(https://images.squarespace-cdn.com/content/v1/56e19ec5e3214084d69d4b7d/1473524254173-BGV5W2Z5FM46F67SYZHJ/ke17ZwdGBToddI8pDm48kODEHMGUBRgRRplOmqRomK1Zw-zPPgdn4jUwVcJE1ZvWhcwhEtWJXoshNdA9f1qD7Rb66VC8y5UmDKESC3gpGyXuuE80dFkeX9PanWgM3V4qRJePadRz66WmX0L5eMAEew/PlusIcon_Small_Gray.png?format=300w)
            no-repeat;
          background-size: 100% auto;
          content: '';
          cursor: pointer;
        }
      }
    }

    .LookAroundItemTextContainer {
      margin-top: 20px;

      .price,
      .won {
        font-size: 13px;
        font-weight: bolder;
      }

      .productName {
        margin-top: 4px;
        font-size: 12px;
        font-weight: lighter;
      }
    }

    .LookAroundItemReviewContainer {
      margin-top: 10px;

      .grade {
        position: relative;
        color: #8f8f8f;
        margin-right: 4px;
        font-size: 11px;
        font-weight: lighter;
      }

      .review {
        position: relative;
        color: #8f8f8f;
        margin-left: 14px;
        margin-right: 4px;
        font-size: 11px;
        font-weight: lighter;
        &::before {
          position: absolute;
          top: 50%;
          left: -8px;
          width: 2px;
          height: 2px;
          margin-top: -1px;
          background-color: #d8d8d8;
          content: '';
        }
      }
    }
  }
}
