@import '../../../../Styles/common.scss';
@import '../../../../Styles/reset.scss';

.itemListContainer {
  .listItemBox {
    width: 1280px;
    border-bottom: 1px solid #e0e0e0;
    @include flex(start, center, row);
    //리스트뷰 보기로 했을때 보여줄 디자인
    .clickBox {
      align-self: center;
      cursor: pointer;
      @include flex(start, center, row);
      position: relative;
      width: 1305px;
      padding: 20px 0;
    }

    .image {
      width: 140px;
      height: 140px;
      margin-right: 20px;
      position: relative;

      img {
        width: 100%;
      }

      .imageButtonBox {
        position: absolute;
        bottom: 15px; //
        padding: 0;
        margin-left: -54px;
        left: 50%;
        z-index: 1;
        opacity: 0%;
        transition: opacity 0.8s;
        @include flex(space-between, center, null);

        .likeButtonBox {
          cursor: pointer;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: white;
          @include flex(center, center, row);

          .imageInnerLike {
            cursor: pointer;
            width: 21px;
            height: 19px;
            background: url(https://img-shop.pstatic.net/smartstore/p/static/20200915081326/media/icon_heart_15x13_gray.412edbc4.svg)
              no-repeat;
            background-size: 100% auto;
            content: '';
          }
        }

        .likeCheckedButtonBox {
          cursor: pointer;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: #f54c4a;
          @include flex(center, center, null);

          .likeChecked {
            cursor: pointer;
            width: 21px;
            height: 19px;
            background: url(https://img-shop.pstatic.net/smartstore/p/static/20200918175251/media/icon_heart_15x13_white.a891e718.svg)
              no-repeat;
            background-size: 100% auto;
            content: '';
          }
        }

        .viewButtonBox {
          cursor: pointer;
          margin-left: 8px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: white;
          @include flex(center, center, null);
        }
      }
    }

    .itemName {
      @include flex(space-between, center);
      margin-top: 14px;
      width: 950px;
      position: absolute;
      top: 60px;
      left: 160px;

      .name {
        font-size: 16px; //
        line-height: 21px; //
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 16px;
      }

      .like {
        cursor: pointer;
        width: 24px;
        height: 20px;
        background: url(https://img-shop.pstatic.net/smartstore/p/static/20200915081326/media/icon_heart_15x13_gray.412edbc4.svg)
          no-repeat;
        background-size: 100%;
        background-position: auto;
      }
      .smallLikeChecked {
        cursor: pointer;
        width: 24px;
        height: 20px;
        background: url(https://img-shop.pstatic.net/smartstore/p/static/20200916190316/media/icon_heart_15x13_red.7c83f183.svg)
          no-repeat;
        background-size: 100%;
        background-position: auto;
      }
    }

    .itemPrice {
      margin-top: 3px;
      position: absolute;
      top: 101px;
      left: 160px;

      .price {
        font-size: 16px; //
        line-height: 21px; //
        font-weight: bold;
      }
    }

    .reviewGrade {
      display: none;
    }

    .soldout {
      margin-top: 16px;
      font-size: 12px;
      line-height: 18px;
      font-weight: bold;
      height: 21px;
      width: 64px;

      div {
        margin: auto auto;
        color: white;
        font-size: 9px;
        font-weight: bold;
        background-color: #535967;
        text-align: center;
      }
    }

    &:hover .imageButtonBox {
      opacity: 100%;
    }
  }
}
