@import '../../../../Styles/common.scss';
@import '../../../../Styles/reset.scss';

.itemListContainer {
  .listItemBox {
    @include flex(start, center, row);
    width: 1280px; //
    border-bottom: 1px solid #e0e0e0; //

    .clickBox {
      position: relative;
      @include flex(start, center, row); //
      align-self: center; //
      padding: 20px 0; //
      width: 1305px; //
      cursor: pointer;
    }

    .image {
      position: relative;
      width: 140px; //
      height: 140px; //
      margin-right: 20px;

      img {
        width: 100%;
      }

      .imageButtonBox {
        position: absolute;
        @include flex(space-between, center, null);
        bottom: 15px; //
        left: 50%;
        padding: 0;
        margin-left: -54px;
        z-index: 1;
        opacity: 0%;
        transition: opacity 0.8s;

        .likeButtonBox {
          @include flex(center, center, row);
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: white;
          cursor: pointer;

          .imageInnerLike {
            width: 21px;
            height: 19px;
            background: url(https://img-shop.pstatic.net/smartstore/p/static/20200915081326/media/icon_heart_15x13_gray.412edbc4.svg)
              no-repeat;
            background-size: 100% auto;
            content: '';
            cursor: pointer;
          }
        }

        .likeCheckedButtonBox {
          @include flex(center, center, null);
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: #f54c4a;
          cursor: pointer;

          .likeChecked {
            width: 21px;
            height: 19px;
            background: url(https://img-shop.pstatic.net/smartstore/p/static/20200918175251/media/icon_heart_15x13_white.a891e718.svg)
              no-repeat;
            background-size: 100% auto;
            content: '';
            cursor: pointer;
          }
        }

        .viewButtonBox {
          @include flex(center, center, null);
          width: 50px;
          height: 50px;
          margin-left: 8px;
          border-radius: 50%;
          background-color: white;
          cursor: pointer;

          .detailView {
            color: #8f8f8f;
            font-size: 20px;
          }
        }
      }
    }

    .itemName {
      position: absolute;
      top: 60px;
      left: 160px;
      @include flex(space-between, center);
      width: 950px;
      margin-top: 14px;

      #name {
        padding-right: 16px;
        font-size: 16px; //
        font-weight: bold;
        line-height: 21px; //
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .like {
        width: 24px;
        height: 20px;
        background: url(https://img-shop.pstatic.net/smartstore/p/static/20200915081326/media/icon_heart_15x13_gray.412edbc4.svg)
          no-repeat;
        background-size: 100%;
        background-position: auto;
        cursor: pointer;
      }
      .smallLikeChecked {
        width: 24px;
        height: 20px;
        background: url(https://img-shop.pstatic.net/smartstore/p/static/20200916190316/media/icon_heart_15x13_red.7c83f183.svg)
          no-repeat;
        background-size: 100%;
        background-position: auto;
        cursor: pointer;
      }
    }

    .itemPrice {
      position: absolute;
      top: 101px;
      left: 160px;
      margin-top: 3px;

      .price {
        font-size: 16px;
        font-weight: bold;
        line-height: 21px;
      }
    }

    .reviewGrade {
      display: none;
    }

    .soldout {
      width: 64px;
      height: 21px;
      margin-top: 16px;
      font-size: 12px;
      line-height: 18px;
      font-weight: bold;

      div {
        margin: auto auto;
        color: white;
        font-size: 9px;
        font-weight: bold;
        background-color: #535967;
        text-align: center;
      }
    }

    &:hover .imageButtonBox {
      opacity: 100%;
    }
  }
}
